<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  rel="stylesheet"
/>

<h2>{{ loginUser }}</h2>
<div class="container">
  <div class="row clearfix">
    <div class="col-lg-12">
      <div class="card chat-app">
        <div id="plist" class="people-list">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-search"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Search..." />
          </div>
          <!-- ---------------------------------------------------------------- -->
          <ul class="list-unstyled chat-list mt-2 mb-0">
            <li
              class="clearfix"
              *ngFor="let user of userlist"
              (click)="selectUser(user)"
              [ngClass]="{ 'selected-user': user === selectedUser }"
            >
              <img
                src="https://bootdey.com/img/Content/avatar/avatar1.png"
                alt="avatar"
              />
              <div class="about">
                <div class="name">
                  {{ user.username }}
                </div>

                <div>
                  <p>
                    <i
                      [ngClass]="{
                        'fa fa-circle offline': !online[user._id],
                        'fa fa-circle online': online[user._id]
                      }"
                    ></i>
                    {{ online[user._id] ? "Online" : "Offline" }}
                  </p>
                </div>
              </div>
            </li>
          </ul>
          <!-- ---------------------------------------------------------------- -->
        </div>
        <div class="chat">
          <div class="chat-header clearfix">
            <div class="row">
              <div class="col-lg-6">
                <a
                  href="javascript:void(0);"
                  data-toggle="modal"
                  data-target="#view_info"
                >
                  <img
                    src="https://bootdey.com/img/Content/avatar/avatar2.png"
                    alt="avatar"
                  />
                </a>
                <div class="chat-about">
                  <h4 class="m-b-0">{{ selectedUser?.username }}</h4>
                  <small>Last seen: 2 hours ago</small>
                </div>
              </div>
            </div>
          </div>
          <div class="chat-history">
            <ul class="m-b-0">
              <li class="clearfix">
                <div class="message-data text-right">
                  <span class="message-data-time">10:10 AM, Today</span>
                  <img
                    src="https://bootdey.com/img/Content/avatar/avatar7.png"
                    alt="avatar"
                  />
                </div>
                <div *ngFor="let msg of messages">
                  <div class="message other-message">
                    <span style="margin-left: 1em">{{ msg.username }}</span>
                    <span style="margin-left: 1em">{{ msg.receiverName }}</span>
                    <span style="margin-left: 1em">{{ msg.content }}</span>
                  </div>
                  <div
                    *ngFor="let item of thread_id; let i = index"
                    [ngClass]="{ highlighted: i === 0 }"
                  >
                    {{ item }}
                  </div>
                  <br />
                </div>
              </li>
            </ul>
          </div>

          <div class="message-input">
            <input
              [(ngModel)]="message"
              (keyup.enter)="sendMessage()"
              placeholder="Enter a message"
            />
            <button (click)="sendMessage()">Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
