<div *ngIf="connected; else notConnected">
  <p>WebSocket is connected and working!</p>
</div>
<ng-template #notConnected>
  <p>WebSocket is not connected.</p>
</ng-template>

<h1>{{ loginUser }}</h1>
<div class="chat-container">
  <div class="user-list">
    <h3>Your Friends:</h3>
    <ul>
      <li *ngFor="let user of userlist" (click)="selectUser(user)">
        {{ user.username }}
      </li>
    </ul>
  </div>
  <div class="chat-interface">
    <div class="chat-header">
      <h2>Chat with {{ selectedUser1?.username }}</h2>
    </div>

    <div class="chat-messages">
      <div *ngFor="let msg of messages" class="message">{{ msg }}</div>
    </div>

    <div class="message-input">
      <input
        [(ngModel)]="message"
        (keyup.enter)="sendMessage()"
        placeholder="Enter a message"
      />
      <button (click)="sendMessage()">Send</button>
    </div>
  </div>
</div>
