<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="navbar">
      <div class="logo">
        <h1>MALIX</h1>
      </div>

      <div class="user-info">
        <i class="fas fa-user-circle fa-2x"></i>
        <h2>{{ username }}</h2>
        <button class="btn btn-success" (click)="logout()">Logout</button>
      </div>
    </div>

    <div class="dashboard">
      <div class="button-container">
        <button class="dashboard-button" (click)="showUserList()">
          <i class="fas fa-users button-icon"></i>
          <span class="button-text">User List</span>
        </button>
        <button
          class="dashboard-button"
          *ngIf="isAgent() || isAdmin()"
          (click)="startChat()"
        >
          <i class="fas fa-comments button-icon"></i>
          <span class="button-text">Chat</span>
        </button>
      </div>
    </div>
  </body>
</html>
